In [2]:
import gurobipy as gp
from gurobipy import *
import numpy as np
import pandas as pd

In [3]:
bigM = 1000000

In [4]:
# Load data
locations_df = pd.read_csv('locations.csv')
order_list_df = pd.read_excel('order_list_1.xlsx')
travel_matrix_df = pd.read_csv('travel_matrix.csv')
trucks_df = pd.read_csv('trucks.csv')

In [5]:
Q = sorted(list(set(trucks_df['truck_max_weight'])))

In [6]:
Q = [Q[0]]*10 + [Q[1]]*8 + [Q[2]]*10 + [Q[3]]*4 + [Q[4]]*5

In [7]:
dest1 = list(set(order_list_df['Destination Code']))[:15]

In [8]:
dest = [str(i) for i in dest1]

In [9]:
order_list_df = order_list_df[order_list_df['Destination Code'].isin(dest1)]

In [23]:
order_list_df1 = order_list_df.sort_values(by = 'Destination Code').groupby('Destination Code').sum("Total Weight").reset_index()

In [ ]:
locations_df = locations_df[locations_df['location_code'].isin(dest + ['A123'])]

In [11]:
# Convert loading/unloading windows to minutes with explicit format
locations_df['start_minutes'] = pd.to_datetime(locations_df['location_loading_unloading_window_start'], format='%H:%M').dt.hour * 60 + pd.to_datetime(locations_df['location_loading_unloading_window_start'], format='%H:%M').dt.minute
locations_df['end_minutes'] = pd.to_datetime(locations_df['location_loading_unloading_window_end'], format='%H:%M').dt.hour * 60 + pd.to_datetime(locations_df['location_loading_unloading_window_end'], format='%H:%M').dt.minute

In [ ]:
customers = locations_df.sort_values(by = 'location_code').iloc[:len(order_list_df1),:]

In [ ]:
locations_df2 = locations_df.sort_values(by = 'location_code')

In [ ]:
locations_df2

,location_code,trucks_allowed,location_loading_unloading_window_start,location_loading_unloading_window_end,start_minutes,end_minutes
36,10208768,"['3 tonner Box', '5 tonner Box', '7.5 tonner T...",8:00,22:00,480,1320
65,10208776,"['3 tonner Box', '5 tonner Box', '7.5 tonner T...",8:00,22:00,480,1320
45,10212373,['3 tonner Box'],8:00,22:00,480,1320
16,10218045,"['3 tonner Box', '5 tonner Box', '7.5 tonner T...",8:00,22:00,480,1320
74,10310757,['3 tonner Box'],8:00,22:00,480,1320
12,10364446,"['3 tonner Box', '5 tonner Box', '7.5 tonner T...",8:00,22:00,480,1320
55,10366979,['3 tonner Box'],8:00,22:00,480,1320
101,11950159,"['3 tonner Box', '5 tonner Box', '7.5 tonner T...",8:00,22:00,480,1320
11,11956776,"['3 tonner Box', '5 tonner Box', '7.5 tonner T...",8:00,22:00,480,1320
102,11957296,"['3 tonner Box', '5 tonner Box', '7.5 tonner T...",8:00,22:00,480,1320
50,12219936,['3 tonner Box'],8:00,22:00,480,1320
129,12231175,['3 tonner Box'],8:00,22:00,480,1320
14,12474916,"['3 tonner Box', '5 tonner Box', '7.5 tonner T...",8:00,22:00,480,1320
38,12779571,"['3 tonner Box', '5 tonner Box', '7.5 tonner T...",8:00,22:00,480,1320
120,13015040,"['3 tonner Box', '5 tonner Box', '7.5 tonner T...",8:00,22:00,480,1320
276,A123,"['3 tonner Box', '5 tonner Box', '7.5 tonner T...",8:00,18:00,480,1080

In [ ]:
cap_df = dict(zip(trucks_df['truck_type'], trucks_df['truck_max_weight']))

In [ ]:
max_veh_access = []
for i in locations_df2.index:
    max_veh_access.append(cap_df[eval(locations_df2['trucks_allowed'][i])[-1]])

In [ ]:
max_veh_access = max_veh_access[len(order_list_df1):] + max_veh_access[:len(order_list_df1)]

In [ ]:
max_veh_access

[17000,
 7000,
 7000,
 2800,
 9200,
 2800,
 7000,
 2800,
 7000,
 7000,
 7000,
 2800,
 2800,
 17000,
 17000,
 9200]

In [ ]:
depot = locations_df.sort_values(by = 'location_code').iloc[len(order_list_df1):,:]

In [ ]:
Nodes = pd.concat([depot,customers], ignore_index = True)

In [ ]:
Nodes

,location_code,trucks_allowed,location_loading_unloading_window_start,location_loading_unloading_window_end,start_minutes,end_minutes
0,A123,"['3 tonner Box', '5 tonner Box', '7.5 tonner T...",8:00,18:00,480,1080
1,10208768,"['3 tonner Box', '5 tonner Box', '7.5 tonner T...",8:00,22:00,480,1320
2,10208776,"['3 tonner Box', '5 tonner Box', '7.5 tonner T...",8:00,22:00,480,1320
3,10212373,['3 tonner Box'],8:00,22:00,480,1320
4,10218045,"['3 tonner Box', '5 tonner Box', '7.5 tonner T...",8:00,22:00,480,1320
5,10310757,['3 tonner Box'],8:00,22:00,480,1320
6,10364446,"['3 tonner Box', '5 tonner Box', '7.5 tonner T...",8:00,22:00,480,1320
7,10366979,['3 tonner Box'],8:00,22:00,480,1320
8,11950159,"['3 tonner Box', '5 tonner Box', '7.5 tonner T...",8:00,22:00,480,1320
9,11956776,"['3 tonner Box', '5 tonner Box', '7.5 tonner T...",8:00,22:00,480,1320
10,11957296,"['3 tonner Box', '5 tonner Box', '7.5 tonner T...",8:00,22:00,480,1320
11,12219936,['3 tonner Box'],8:00,22:00,480,1320
12,12231175,['3 tonner Box'],8:00,22:00,480,1320
13,12474916,"['3 tonner Box', '5 tonner Box', '7.5 tonner T...",8:00,22:00,480,1320
14,12779571,"['3 tonner Box', '5 tonner Box', '7.5 tonner T...",8:00,22:00,480,1320
15,13015040,"['3 tonner Box', '5 tonner Box', '7.5 tonner T...",8:00,22:00,480,1320

In [ ]:
vehicles = [ k for k in range(0,len(Q))]
customers = [ i for i in range(1,len(Nodes))]
nodes = [ i for i in range(0, len(Nodes))]

In [ ]:
sum(Q)

257400

In [24]:
demand = [0] + list(order_list_df1['Total Weight'])

In [26]:
Q

[2800,
 2800,
 2800,
 2800,
 2800,
 2800,
 2800,
 2800,
 2800,
 2800,
 4700,
 4700,
 4700,
 4700,
 4700,
 4700,
 4700,
 4700,
 7000,
 7000,
 7000,
 7000,
 7000,
 7000,
 7000,
 7000,
 7000,
 7000,
 9200,
 9200,
 9200,
 9200,
 17000,
 17000,
 17000,
 17000,
 17000]

In [ ]:
start_time = list(Nodes['start_minutes'])
finish_time = list(Nodes['end_minutes'])

In [ ]:
# Constants
service_time_customer = 20  
service_time_depot = 60

In [14]:
dest2 = ['A123'] + sorted(dest)

In [15]:
dest3 = {} 
for i in range(len(dest2)):
    dest3[dest2[i]] = i

In [20]:
travel_matrix_df

,source_location_code,destination_location_code,travel_distance_in_km,travel_time_in_min,mapped_source,mapped_destination
2502,12854197,12854197,0.00,0,11,11
2530,12854197,13005196,21.05,35,11,13
2584,12854197,12983715,3.15,3,11,12
2587,12854197,12838671,84.92,89,11,7
2589,12854197,12738762,73.28,81,11,5
...,...,...,...,...,...,...
76606,A123,12854137,49.53,61,0,8
76628,A123,12854159,49.55,58,0,9
76634,A123,12854171,46.01,70,0,10
76639,A123,12769191,43.78,57,0,6
76728,A123,A123,0.00,0,0,0

In [12]:
travel_matrix_df = travel_matrix_df[(travel_matrix_df['source_location_code'].isin(dest + ['A123'])) & (travel_matrix_df['destination_location_code'].isin(dest + ['A123']))]

In [16]:
travel_matrix_df['mapped_source'] = travel_matrix_df['source_location_code'].map(dest3)
travel_matrix_df['mapped_destination'] = travel_matrix_df['destination_location_code'].map(dest3)

In [17]:
dist_matrix = {}
time_matrix = {}
for i in travel_matrix_df.index:
    dist_matrix[(travel_matrix_df['mapped_source'][i], travel_matrix_df['mapped_destination'][i])] = travel_matrix_df['travel_distance_in_km'][i]
    time_matrix[(travel_matrix_df['mapped_source'][i], travel_matrix_df['mapped_destination'][i])] = travel_matrix_df['travel_time_in_min'][i]

In [18]:
dist_matrix

{(11, 11): 0.0,
 (11, 13): 21.05,
 (11, 12): 3.15,
 (11, 7): 84.92,
 (11, 5): 73.28,
 (11, 2): 47.13,
 (11, 3): 22.77,
 (11, 15): 29.28,
 (11, 4): 23.53,
 (11, 14): 8.22,
 (11, 1): 31.34,
 (11, 8): 3.76,
 (11, 9): 2.72,
 (11, 10): 4.08,
 (11, 6): 6.84,
 (11, 0): 51.04,
 (13, 11): 21.61,
 (13, 13): 0.0,
 (13, 12): 20.69,
 (13, 7): 99.55,
 (13, 5): 68.16,
 (13, 2): 45.84,
 (13, 3): 2.31,
 (13, 15): 35.76,
 (13, 4): 5.2,
 (13, 14): 16.51,
 (13, 1): 32.32,
 (13, 8): 29.59,
 (13, 9): 27.83,
 (13, 10): 24.49,
 (13, 6): 13.25,
 (13, 0): 22.01,
 (12, 11): 3.38,
 (12, 13): 18.38,
 (12, 12): 0.0,
 (12, 7): 68.9,
 (12, 5): 85.43,
 (12, 2): 45.0,
 (12, 3): 16.94,
 (12, 15): 25.87,
 (12, 4): 24.12,
 (12, 14): 3.89,
 (12, 1): 27.98,
 (12, 8): 6.21,
 (12, 9): 4.82,
 (12, 10): 7.14,
 (12, 6): 4.66,
 (12, 0): 49.25,
 (7, 11): 87.1,
 (7, 13): 86.88,
 (7, 12): 87.82,
 (7, 7): 0.0,
 (7, 5): 63.06,
 (7, 2): 48.25,
 (7, 3): 98.38,
 (7, 15): 50.05,
 (7, 4): 81.67,
 (7, 14): 68.66,
 (7, 1): 98.34,
 (7, 8): 82.86,
 (7, 9): 88.11,
 (7, 10): 81.74,
 (7, 6): 82.55,
 (7, 0): 106.73,
 (5, 11): 81.86,
 (5, 13): 56.63,
 (5, 12): 84.42,
 (5, 7): 66.86,
 (5, 5): 0.0,
 (5, 2): 30.18,
 (5, 3): 58.57,
 (5, 15): 67.82,
 (5, 4): 72.57,
 (5, 14): 66.03,
 (5, 1): 99.73,
 (5, 8): 83.34,
 (5, 9): 66.76,
 (5, 10): 70.41,
 (5, 6): 76.86,
 (5, 0): 59.24,
 (2, 11): 46.17,
 (2, 13): 48.42,
 (2, 12): 41.33,
 (2, 7): 53.88,
 (2, 5): 29.38,
 (2, 2): 0.0,
 (2, 3): 42.86,
 (2, 15): 27.67,
 (2, 4): 42.79,
 (2, 14): 34.69,
 (2, 1): 72.14,
 (2, 8): 42.39,
 (2, 9): 52.16,
 (2, 10): 44.0,
 (2, 6): 39.52,
 (2, 0): 41.87,
 (3, 11): 17.71,
 (3, 13): 2.15,
 (3, 12): 18.2,
 (3, 7): 81.74,
 (3, 5): 69.53,
 (3, 2): 43.51,
 (3, 3): 0.0,
 (3, 15): 32.5,
 (3, 4): 8.09,
 (3, 14): 14.24,
 (3, 1): 30.72,
 (3, 8): 20.43,
 (3, 9): 23.09,
 (3, 10): 21.32,
 (3, 6): 12.42,
 (3, 0): 23.48,
 (15, 11): 34.09,
 (15, 13): 41.58,
 (15, 12): 30.79,
 (15, 7): 56.9,
 (15, 5): 52.99,
 (15, 2): 33.31,
 (15, 3): 35.73,
 (15, 15): 0.0,
 (15, 4): 45.16,
 (15, 14): 22.2,
 (15, 1): 63.71,
 (15, 8): 31.88,
 (15, 9): 27.56,
 (15, 10): 33.18,
 (15, 6): 31.39,
 (15, 0): 65.5,
 (4, 11): 28.15,
 (4, 13): 5.62,
 (4, 12): 27.16,
 (4, 7): 76.47,
 (4, 5): 72.33,
 (4, 2): 54.21,
 (4, 3): 6.77,
 (4, 15): 40.55,
 (4, 4): 0.0,
 (4, 14): 22.23,
 (4, 1): 31.54,
 (4, 8): 31.01,
 (4, 9): 25.99,
 (4, 10): 27.99,
 (4, 6): 19.64,
 (4, 0): 20.9,
 (14, 11): 6.58,
 (14, 13): 16.46,
 (14, 12): 4.51,
 (14, 7): 86.21,
 (14, 5): 61.73,
 (14, 2): 41.76,
 (14, 3): 13.99,
 (14, 15): 25.96,
 (14, 4): 21.73,
 (14, 14): 0.0,
 (14, 1): 30.79,
 (14, 8): 9.91,
 (14, 9): 7.92,
 (14, 10): 9.81,
 (14, 6): 6.74,
 (14, 0): 39.27,
 (1, 11): 25.9,
 (1, 13): 33.05,
 (1, 12): 29.86,
 (1, 7): 101.18,
 (1, 5): 84.99,
 (1, 2): 70.49,
 (1, 3): 27.54,
 (1, 15): 53.01,
 (1, 4): 34.66,
 (1, 14): 31.99,
 (1, 1): 0.0,
 (1, 8): 29.14,
 (1, 9): 26.55,
 (1, 10): 33.79,
 (1, 6): 26.41,
 (1, 0): 48.52,
 (8, 11): 3.34,
 (8, 13): 24.33,
 (8, 12): 6.31,
 (8, 7): 85.34,
 (8, 5): 70.98,
 (8, 2): 51.39,
 (8, 3): 22.16,
 (8, 15): 26.08,
 (8, 4): 33.2,
 (8, 14): 10.63,
 (8, 1): 32.83,
 (8, 8): 0.0,
 (8, 9): 0.78,
 (8, 10): 0.43,
 (8, 6): 10.94,
 (8, 0): 50.15,
 (9, 11): 3.13,
 (9, 13): 25.12,
 (9, 12): 5.05,
 (9, 7): 73.09,
 (9, 5): 70.37,
 (9, 2): 54.51,
 (9, 3): 20.67,
 (9, 15): 30.34,
 (9, 4): 32.24,
 (9, 14): 7.66,
 (9, 1): 30.53,
 (9, 8): 0.67,
 (9, 9): 0.0,
 (9, 10): 1.05,
 (9, 6): 9.03,
 (9, 0): 49.07,
 (10, 11): 3.6,
 (10, 13): 29.45,
 (10, 12): 6.72,
 (10, 7): 82.31,
 (10, 5): 75.96,
 (10, 2): 41.25,
 (10, 3): 23.26,
 (10, 15): 26.31,
 (10, 4): 33.32,
 (10, 14): 9.9,
 (10, 1): 30.42,
 (10, 8): 0.5,
 (10, 9): 1.16,
 (10, 10): 0.0,
 (10, 6): 10.49,
 (10, 0): 46.04,
 (6, 11): 7.94,
 (6, 13): 17.64,
 (6, 12): 3.78,
 (6, 7): 87.76,
 (6, 5): 83.04,
 (6, 2): 51.58,
 (6, 3): 11.67,
 (6, 15): 31.77,
 (6, 4): 20.8,
 (6, 14): 6.22,
 (6, 1): 32.54,
 (6, 8): 9.19,
 (6, 9): 9.97,
 (6, 10): 11.67,
 (6, 6): 0.0,
 (6, 0): 42.73,
 (0, 11): 39.94,
 (0, 13): 23.02,
 (0, 12): 41.63,
 (0, 7): 97.33,
 (0, 5): 60.47,
 (0, 2): 51.92,
 (0, 3): 28.33,
 (0, 15): 54.26,
 (0, 4): 20.56,
 (0, 14): 45.22,
 (0, 1): 49.0,
 (0, 8): 49.53,
 (0, 9): 49.55,
 (0, 10): 46.01,
 (0, 6): 43.78,
 (0, 0): 0.0}

In [ ]:
demand

NameError: name 'demand' is not defined

In [ ]:
nodes

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [ ]:
customers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [ ]:
dist_matrix

NameError: name 'dist_matrix' is not defined

In [ ]:
#Decision Variable

my_model=gp.Model('CVRPTW')

xijk=my_model.addVars(nodes, nodes, vehicles, vtype=GRB.BINARY, name='xijk')
sik = my_model.addVars(nodes, vehicles, vtype = GRB.CONTINUOUS, name = 'sik',lb = 0)
q = my_model.addVars(customers, vehicles, vtype = GRB.CONTINUOUS, name = 'qjk', lb = 0)
I = my_model.addVars(vehicles, vtype = GRB.BINARY, name = 'I')

Set parameter Username
Academic license - for non-commercial use only - expires 2025-08-10

In [ ]:
#Objective function
obj_fn = (gp.quicksum(dist_matrix[i,j]* gp.quicksum(xijk[i,j,k] for k in vehicles) for i in nodes for j in nodes) +
          gp.quicksum(I[k] for k in vehicles)
         )

my_model.setObjective(obj_fn, GRB.MINIMIZE)

In [ ]:
#Source to sink constraints
my_model.addConstrs(gp.quicksum(xijk[0,j,k] for j in customers)<=1 for k in vehicles);

In [ ]:
my_model.addConstrs(gp.quicksum(xijk[i,0,k] for i in customers)<=1 for k in vehicles);

In [ ]:
# my_model.addConstr(gp.quicksum(xijk[0,j,k] for j in customers for k in vehicles)<=10);

In [ ]:
my_model.addConstrs(gp.quicksum(xijk[i,j,k] for i in nodes)- gp.quicksum(xijk[j,i,k] for i in nodes)==0 
                    for j in nodes for k in vehicles);

In [ ]:
#capacity constraints
my_model.addConstrs(gp.quicksum(q[j,k] for k in vehicles) == demand[j] 
                    for j in customers); 
my_model.addConstrs(gp.quicksum(q[j,k] for j in customers) <= Q[k] for k in vehicles);

In [ ]:
my_model.addConstrs(q[j,k] <= bigM * gp.quicksum(xijk[i,j,k] for i in nodes) for j in customers for k in vehicles);

In [ ]:
my_model.addConstrs(sik[i,k] + time_matrix[i,j] + service_time_customer
                    - sik[j,k] <= (1-xijk[i,j,k]) *bigM 
                    for i in customers 
                    for j in customers for k in vehicles);

In [ ]:
my_model.addConstrs(sik[i,k] <= finish_time[i] for i in nodes for k in vehicles)
                    
my_model.addConstrs(sik[i,k] >= start_time[i] for i in nodes for k in vehicles);

In [ ]:
for i in nodes:
    for j in nodes:
        for k in vehicles:
            if Q[k] <= max_veh_access[j] and Q[k] <= max_veh_access[i]:
                my_model.addConstr(xijk[i,j,k] <= 1);
            else:
                my_model.addConstr(xijk[i,j,k] == 0);

In [ ]:
my_model.addConstrs(gp.quicksum(xijk[0,j,k] for j in customers) <= I[k] for k in vehicles);

In [ ]:
my_model.setParam('MIPGap', 0.6)

Set parameter MIPGap to value 0.6

In [ ]:
my_model.optimize()

Gurobi Optimizer version 10.0.1 build v10.0.1rc0 (win64)

CPU model: Intel(R) Core(TM) i3-1005G1 CPU @ 1.20GHz, instruction set [SSE2|AVX|AVX2|AVX512]
Thread count: 2 physical cores, 4 logical processors, using up to 4 threads

Optimize a model with 20291 rows, 11211 columns and 64528 nonzeros
Model fingerprint: 0x4b4a8756
Variable types: 1702 continuous, 9509 integer (9509 binary)
Coefficient statistics:
  Matrix range     [1e+00, 1e+06]
  Objective range  [1e+00, 2e+02]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 1e+06]
Presolve removed 15648 rows and 5991 columns
Presolve time: 0.19s
Presolved: 4643 rows, 5220 columns, 26254 nonzeros
Variable types: 702 continuous, 4518 integer (4518 binary)

Root relaxation: objective 3.141000e+02, 845 iterations, 0.08 seconds (0.02 work units)

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0  314.10005    0   38          -  314.10005      -     -    0s
     0     0  314.10005    0   48          -  314.10005      -     -    0s
H    0     0                    2171.5500000  314.10005  85.5%     -    0s
H    0     0                    1740.1600000  314.10005  81.9%     -    0s
     0     0  314.10005    0   50 1740.16000  314.10005  81.9%     -    0s
     0     0  315.79735    0   38 1740.16000  315.79735  81.9%     -    1s
H    0     0                    1524.7700000  315.79735  79.3%     -    1s
     0     0  317.34125    0   48 1524.77000  317.34125  79.2%     -    1s
     0     0  317.34125    0   50 1524.77000  317.34125  79.2%     -    1s
     0     0  327.60879    0   47 1524.77000  327.60879  78.5%     -    1s
     0     0  327.60879    0   56 1524.77000  327.60879  78.5%     -    1s
     0     0  328.20452    0   49 1524.77000  328.20452  78.5%     -    1s
     0     0  333.39679    0   55 1524.77000  333.39679  78.1%     -    2s
     0     0  333.39679    0   57 1524.77000  333.39679  78.1%     -    2s
     0     0  364.34377    0   55 1524.77000  364.34377  76.1%     -    2s
     0     0  364.34377    0   56 1524.77000  364.34377  76.1%     -    2s
     0     0  366.38879    0   78 1524.77000  366.38879  76.0%     -    2s
H    0     0                    1374.5900000  366.38879  73.3%     -    3s
     0     0  366.38879    0   74 1374.59000  366.38879  73.3%     -    3s
     0     0  373.53773    0   79 1374.59000  373.53773  72.8%     -    3s
     0     0  374.55980    0   82 1374.59000  374.55980  72.8%     -    3s
     0     0  374.79316    0   82 1374.59000  374.79316  72.7%     -    3s
     0     0  374.79316    0   82 1374.59000  374.79316  72.7%     -    3s
     0     0  381.53363    0   86 1374.59000  381.53363  72.2%     -    3s
     0     0  381.55896    0   82 1374.59000  381.55896  72.2%     -    4s
     0     0  382.51670    0  117 1374.59000  382.51670  72.2%     -    4s
H    0     0                    1369.5400000  382.51670  72.1%     -    4s
     0     0  382.51670    0  100 1369.54000  382.51670  72.1%     -    4s
     0     0  382.51670    0   98 1369.54000  382.51670  72.1%     -    4s
     0     0  382.51670    0   93 1369.54000  382.51670  72.1%     -    4s
     0     0  382.57844    0   95 1369.54000  382.57844  72.1%     -    5s
     0     0  382.57844    0   95 1369.54000  382.57844  72.1%     -    5s
H    0     0                    1368.3800000  382.57844  72.0%     -    5s
     0     2  382.57844    0   95 1368.38000  382.57844  72.0%     -    5s
H   29    31                    1283.0800000  405.50690  68.4%  41.3    8s
H   57    58                    1282.5000000  417.17263  67.5%  34.2   10s
H   58    58                    1274.6800000  417.17263  67.3%  33.7   10s
H   85    89                    1274.1000000  417.17263  67.3%  32.9   11s
H  127   123                    1259.2600000  417.17263  66.9%  37.3   14s
   150   156  636.11355   65   67 1259.26000  417.17263  66.9%  35.5   15s
H  162   156                    1143.2000000  417.17263  63.5%  33.7   15s
H  192   171                    1114.1100000  417.17263  62.6%  31.1   15s
H  219   191                    1113.0400000  417.17263  62.5%  34.4   17s
H  247   221                    1112.7200000  417.17263  62.5%  53.1   20s
H  249   221                    1111.9700000  417.17263  62.5%  53.6   20s
H  250   221                    1103.7400000  417.17263  62.2%  54.0   20s
H  252   221                    1039.5400000  417.17263  59.9%  55.4   20s

Cutting planes:
  Learned: 1
  Gomory: 22
  Lift-and-project: 3
  Implied bound: 203
  MIR: 114
  RLT: 291
  Relax-and-lift: 6

Explored 253 nodes (19169 simplex iterations) in 20.44 seconds (7.11 work units)
Thread count was 4 (of 4 available processors)

Solution count 10: 1039.54 1103.74 1111.97 ... 1274.68

Optimal solution found (tolerance 6.00e-01)
Best objective 1.039540000000e+03, best bound 4.171800000000e+02, gap 59.8688%

In [ ]:
# Create a new dictionary to store non-zero values
non_zero_xijk = {}

# Iterate over all keys and values in xijk
for (i, j, k), value in xijk.items():
    # Check if the value is a Gurobi variable
    if hasattr(value, "X"):  # If it's a Gurobi variable, use .X to get the optimized value
        if value.X > 0.5:  # Filter for non-zero values
            non_zero_xijk[(i, j, k)] = value.X
    else:  # Otherwise, assume it's a numeric value
        if value > 0.5:  # Filter for non-zero values
            non_zero_xijk[(i, j, k)] = value

# Print the non-zero values
print("Non-zero values of x:")
for (i, j, k), value in non_zero_xijk.items():
    print(f"x_{i}_{j}_{k} = {value}")

Non-zero values of x:
x_0_4_11 = 1.0
x_0_4_12 = 1.0
x_0_4_18 = 1.0
x_0_4_23 = 1.0
x_0_4_24 = 1.0
x_0_4_25 = 1.0
x_0_4_26 = 1.0
x_0_4_27 = 1.0
x_0_7_5 = 1.0
x_0_8_22 = 1.0
x_0_14_30 = 1.0
x_1_6_11 = 1.0
x_1_9_22 = 1.0
x_1_9_26 = 1.0
x_2_0_24 = 1.0
x_2_0_26 = 1.0
x_2_4_22 = 1.0
x_2_11_5 = 1.0
x_3_0_5 = 1.0
x_4_0_22 = 1.0
x_4_1_11 = 1.0
x_4_6_12 = 1.0
x_4_6_18 = 1.0
x_4_6_23 = 1.0
x_4_6_24 = 1.0
x_4_6_25 = 1.0
x_4_8_26 = 1.0
x_4_14_27 = 1.0
x_5_3_5 = 1.0
x_6_0_11 = 1.0
x_6_0_12 = 1.0
x_6_0_18 = 1.0
x_6_1_22 = 1.0
x_6_1_26 = 1.0
x_6_8_25 = 1.0
x_6_9_24 = 1.0
x_6_10_23 = 1.0
x_7_12_5 = 1.0
x_8_0_23 = 1.0
x_8_0_25 = 1.0
x_8_6_22 = 1.0
x_8_6_26 = 1.0
x_9_2_22 = 1.0
x_9_2_24 = 1.0
x_9_13_26 = 1.0
x_10_8_23 = 1.0
x_11_5_5 = 1.0
x_12_2_5 = 1.0
x_13_2_26 = 1.0
x_13_15_30 = 1.0
x_14_0_27 = 1.0
x_14_13_30 = 1.0
x_15_0_30 = 1.0

In [ ]:
# Create a dictionary to store routes for each vehicle
vehicle_routes = {}

# Iterate over the non_zero_xijk dictionary to create routes
for (i, j, k), value in non_zero_xijk.items():
    if value == 1.0:
        if k not in vehicle_routes:
            vehicle_routes[k] = []  # Create a list for each vehicle if not already created
        vehicle_routes[k].append((i, j))

# Display the routes for each vehicle
for vehicle, route in vehicle_routes.items():
    print(f"Vehicle {vehicle} Route: {route}")

Vehicle 11 Route: [(0, 4), (1, 6), (4, 1), (6, 0)]
Vehicle 12 Route: [(0, 4), (4, 6), (6, 0)]
Vehicle 18 Route: [(0, 4), (4, 6), (6, 0)]
Vehicle 23 Route: [(0, 4), (4, 6), (6, 10), (8, 0), (10, 8)]
Vehicle 24 Route: [(0, 4), (2, 0), (4, 6), (6, 9), (9, 2)]
Vehicle 25 Route: [(0, 4), (4, 6), (6, 8), (8, 0)]
Vehicle 26 Route: [(0, 4), (1, 9), (2, 0), (4, 8), (6, 1), (8, 6), (9, 13), (13, 2)]
Vehicle 27 Route: [(0, 4), (4, 14), (14, 0)]
Vehicle 5 Route: [(0, 7), (2, 11), (3, 0), (5, 3), (7, 12), (11, 5), (12, 2)]
Vehicle 22 Route: [(0, 8), (1, 9), (2, 4), (4, 0), (6, 1), (8, 6), (9, 2)]
Vehicle 30 Route: [(0, 14), (13, 15), (14, 13), (15, 0)]

In [ ]:
max_veh_access

[17000,
 7000,
 7000,
 2800,
 9200,
 2800,
 7000,
 2800,
 7000,
 7000,
 7000,
 2800,
 2800,
 17000,
 17000,
 9200]

In [ ]:
non_zero_q = {(i,k):q[i,k].X for i in customers for k in vehicles if q[i,k].X > 0.1}
non_zero_q

{(1, 11): 746.0,
 (2, 5): 611.0,
 (3, 5): 209.0,
 (4, 11): 1122.0,
 (4, 27): 5527.0,
 (5, 5): 310.0,
 (6, 11): 2832.0,
 (6, 12): 4700.0,
 (6, 18): 7000.0,
 (6, 25): 5468.0,
 (7, 5): 304.0,
 (8, 25): 1532.0,
 (9, 22): 7000.0,
 (9, 24): 7000.0,
 (9, 26): 2000.0,
 (10, 23): 7000.0,
 (11, 5): 311.0,
 (12, 5): 84.0,
 (13, 26): 5000.0,
 (13, 30): 8688.0,
 (14, 27): 1254.0,
 (15, 30): 220.0}

In [ ]:
demand

[0,
 746.0,
 611.0,
 209.0,
 6649.0,
 310.0,
 20000.0,
 304.0,
 1532.0,
 16000.0,
 7000.0,
 311.0,
 84.0,
 13688.0,
 1254.0,
 220.0]

In [ ]:
I

{0: <gurobi.Var I[0] (value -0.0)>,
 1: <gurobi.Var I[1] (value -0.0)>,
 2: <gurobi.Var I[2] (value -0.0)>,
 3: <gurobi.Var I[3] (value -0.0)>,
 4: <gurobi.Var I[4] (value -0.0)>,
 5: <gurobi.Var I[5] (value 1.0)>,
 6: <gurobi.Var I[6] (value -0.0)>,
 7: <gurobi.Var I[7] (value -0.0)>,
 8: <gurobi.Var I[8] (value -0.0)>,
 9: <gurobi.Var I[9] (value 0.0)>,
 10: <gurobi.Var I[10] (value -0.0)>,
 11: <gurobi.Var I[11] (value 1.0)>,
 12: <gurobi.Var I[12] (value 1.0)>,
 13: <gurobi.Var I[13] (value -0.0)>,
 14: <gurobi.Var I[14] (value -0.0)>,
 15: <gurobi.Var I[15] (value -0.0)>,
 16: <gurobi.Var I[16] (value -0.0)>,
 17: <gurobi.Var I[17] (value -0.0)>,
 18: <gurobi.Var I[18] (value 1.0)>,
 19: <gurobi.Var I[19] (value 0.0)>,
 20: <gurobi.Var I[20] (value -0.0)>,
 21: <gurobi.Var I[21] (value -0.0)>,
 22: <gurobi.Var I[22] (value 1.0)>,
 23: <gurobi.Var I[23] (value 1.0)>,
 24: <gurobi.Var I[24] (value 1.0)>,
 25: <gurobi.Var I[25] (value 1.0)>,
 26: <gurobi.Var I[26] (value 1.0)>,
 27: <gurobi.Var I[27] (value 1.0)>,
 28: <gurobi.Var I[28] (value -0.0)>,
 29: <gurobi.Var I[29] (value -0.0)>,
 30: <gurobi.Var I[30] (value 1.0)>,
 31: <gurobi.Var I[31] (value -0.0)>,
 32: <gurobi.Var I[32] (value -0.0)>,
 33: <gurobi.Var I[33] (value -0.0)>,
 34: <gurobi.Var I[34] (value -0.0)>,
 35: <gurobi.Var I[35] (value -0.0)>,
 36: <gurobi.Var I[36] (value -0.0)>}

In [ ]:
#use dest3 for reverse mapping into location codes from index